autowrite-jira.json
{
  "updatedAt": "2026-07-15T18:23:55.319Z",
  "createdAt": "2026-07-15T13:54:03.672Z",
  "id": "wgM37DWW3USYWiid",
  "name": "Auto Bug Reporting (Jira)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const req = items[0].json;\nconst input = req.body || {};\n\nreturn [\n  {\n    json: {\n      caseId: input.testCaseId ?? \"Unknown Test Case\",\n      status: input.status ?? \"UNKNOWN\",\n      message: input.message ?? \"\",\n      teststeps: input.executed_steps\n        .map((step, index) => `${index + 1}. ${step}`)\n        .join('\\n') ?? \"\",\n      screenshot: input.screenshot_base64 ?? \"\",\n      timestamp: input.timestamp ?? new Date().toISOString(),\n      url: input.url ?? \"\",\n\n      steps: input.message \n        ? input.message.match(/Step \\d+:.+/g) || [] \n        : []\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4144,
        1072
      ],
      "id": "84c8075b-3d9b-4f89-ac1f-152d3db74a2f",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bug-report",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4368,
        1072
      ],
      "id": "4c4c8d2a-3608-4854-8ac3-c2a06f4390a9",
      "name": "Webhook Katalon",
      "webhookId": "9e2f7bdb-a98d-4d0d-9af4-af67c56490c3"
    },
    {
      "parameters": {
        "jsCode": "const base64String = $('Parse Input').first().json.screenshot\n\nif (base64String) {\n  return [\n    {\n      json: $input.first().json,\n      binary: {\n        data: {\n          data: base64String,\n          mimeType: 'image/png',\n          fileName: $('Parse Output AI').first().json.ticket_title.issue_title + '.png'\n        }\n      }\n    }\n  ];\n}\n\nreturn [$input.first()];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        1088
      ],
      "id": "a0393ff7-3564-4aed-a25b-e5924944d24c",
      "name": "Screenshot Issue"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Output AI').item.json.priority }}",
                    "rightValue": "Highest",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e04362fc-c797-4bdb-ac84-55428d02269f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dab1469f-82c3-490c-ba49-65e68fb90c89",
                    "leftValue": "={{ $('Parse Output AI').item.json.priority }}",
                    "rightValue": "High",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1a46ad16-7a02-4e14-9842-78e8ddece313",
                    "leftValue": "={{ $('Parse Output AI').item.json.priority }}",
                    "rightValue": "Medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3b855e94-89c4-4146-a9cc-2de8f2891a33",
                    "leftValue": "={{ $('Parse Output AI').item.json.priority }}",
                    "rightValue": "Low",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "22135f6e-fe0c-41d6-9e98-4ca6a07cedd5",
                    "leftValue": "={{ $('Parse Output AI').item.json.priority }}",
                    "rightValue": "Lowest",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1552,
        1040
      ],
      "id": "b95c001e-152d-4e7c-8989-555d96caf3ff",
      "name": "Switch Priority"
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{ $('Create an issue').item.json.key }}",
        "updateFields": {
          "priority": {
            "__rl": true,
            "value": "1",
            "mode": "list",
            "cachedResultName": "Highest"
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -1328,
        704
      ],
      "id": "2e6599a1-59c5-4be3-8041-cbca3c376c05",
      "name": "Add Priority (Highest)",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "UasEiT4gcHnmco2t",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{ $('Create an issue').item.json.key }}",
        "updateFields": {
          "priority": {
            "__rl": true,
            "value": "2",
            "mode": "list",
            "cachedResultName": "High"
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -1328,
        896
      ],
      "id": "caaef06f-c5e8-4571-9623-efb744b20a02",
      "name": "Add Priority (High)",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "UasEiT4gcHnmco2t",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{ $('Create an issue').item.json.key }}",
        "updateFields": {
          "priority": {
            "__rl": true,
            "value": "3",
            "mode": "list",
            "cachedResultName": "Medium"
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -1328,
        1088
      ],
      "id": "901ca283-28c5-4c7c-a96e-07747216d15f",
      "name": "Add Priority (Medium)",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "UasEiT4gcHnmco2t",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{ $('Create an issue').item.json.key }}",
        "updateFields": {
          "priority": {
            "__rl": true,
            "value": "4",
            "mode": "list",
            "cachedResultName": "Low"
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -1328,
        1280
      ],
      "id": "327f67f4-b4d3-4cff-8a8f-135466db7230",
      "name": "Add Priority (Low)",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "UasEiT4gcHnmco2t",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{ $('Create an issue').item.json.key }}",
        "updateFields": {
          "priority": {
            "__rl": true,
            "value": "5",
            "mode": "list",
            "cachedResultName": "Lowest"
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -1328,
        1472
      ],
      "id": "241d4104-299e-4bc2-a6ad-a934fde2de5f",
      "name": "Add Priority (Lowest)",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "UasEiT4gcHnmco2t",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "issueAttachment",
        "issueKey": "={{ $json.key }}"
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -1776,
        1088
      ],
      "id": "e18c42b9-33c3-4c09-95d3-8ae4110d7f61",
      "name": "Add Attachment/Evidence",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "UasEiT4gcHnmco2t",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst msg = data.message || \"\";\n\n// keyword\nconst keywordMatch = msg.match(/Verify\\w+Keyword/);\nconst keyword = keywordMatch ? keywordMatch[0] : \"UNKNOWN\";\n\n// object repository\nconst repoMatch = msg.match(/Object Repository\\/[^\\r\\n']+/);\nconst objectRepo = repoMatch ? repoMatch[0] : \"UNKNOWN\";\n\n// xpath\nconst xpathMatch = msg.match(/By\\.xpath:\\s*(.+?)'/);\nconst xpath = xpathMatch ? xpathMatch[1] : \"UNKNOWN\";\n\n// fingerprint\nconst fingerprint =\n`${data.caseId}|${keyword}|${objectRepo}|${xpath}`;\n\nreturn [{\n  json: {\n    ...data,\n    fingerprint\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3344,
        1072
      ],
      "id": "f160072f-315e-4776-b534-9b8ad9f474b0",
      "name": "Generate Fingerprint"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a bug report from this automation test log:\nError Message : \n{{ $('Parse Input').item.json.message }}\n\nTest Steps :\n{{ $('Parse Input').item.json.teststeps }}",
        "options": {
          "systemMessage": "# ROLE & OBJECTIVE\nYou are a Senior QA Automation Engineer. Analyze automation error logs and test steps then generate a professional bug report in English. Output MUST be structured JSON only.\n\n---\n\n# INPUT FORMAT\n- testCaseId     : Full test case path and name\n- status         : FAILED | PASSED\n- timestamp      : Execution timestamp\n- url            : URL where the test was executed\n- message        : Full error/failure message with stack trace\n- failed_step    : The specific automation step that failed\n- executed_steps : Array of all steps executed before failure\n\n---\n\n# TEST CASE INTERPRETATION\ntestCaseId is the PRIMARY source of context. Extract:\n- feature     : general domain/module (e.g., \"Item Management\", \"Authentication\")\n- sub_section : specific feature being tested (e.g., \"Add Item\", \"Login\")\n- scenario, input condition, flow sequence\n\nUse executed_steps only as supplementary context to confirm the flow.\nIf testCaseId contains after/before/when/then/with/without \u2014 infer prerequisite actions.\n\nExamples:\n- \"TC-008 - Item_Verify Save Button State After Error\" \u2192 feature: \"Item Management\", sub_section: \"Add Item\"\n- \"TC-012 - Login_Verify Error Message on Invalid Email\" \u2192 feature: \"Authentication\", sub_section: \"Login\"\n\n---\n\n# ERROR CONVERSION RULE\nConvert raw automation errors to user-facing issues. Focus on FIRST failure only.\n\n- element not found = Expected element is not displayed\n- verifyElementVisible failed = Expected message/element is not shown\n- element not clickable = User cannot interact with the element\n- Unable to click on object = User cannot interact with the element\n- timeout = System takes too long to respond\n- StepFailedException = Action could not be completed\n\n---\n\n# PRIORITY & SEVERITY\n\nCore business flows: Login, Registration, Checkout, Payment, Search\nSearch includes ANY search functionality (Item Search, Order Search, etc.)\n\nPriority definitions:\n- Highest = Core flow completely blocked, no workaround\n- High    = Core flow partially impacted, OR data integrity corrupted, OR timeout > 15s\n- Medium  = Non-core feature fails, main journey unaffected, no data risk\n- Low     = Minor edge-case; main flow and data unaffected\n- Lowest  = Cosmetic only; no functional impact\n\nSeverity definitions:\n- Critical = Crash, 500 error, or complete system failure\n- Major    = Sub-section unusable, OR data saved/deleted incorrectly, OR severe perf degradation\n- Medium   = Partial functionality affected; some parts still work\n- Normal   = Validation/feedback missing; no data corruption\n- Minor    = Cosmetic/UI only\n\nIf no rule above matches exactly, reason through the case:\n- Identify whether the failure affects a core or non-core flow.\n- Assess whether data integrity is at risk.\n- Determine how much of the feature is affected.\n- Then select the closest Priority and Severity that reflects the actual business and technical impact.\n\n---\n\n# STEPS TO REPRODUCE\nGenerate 3\u20135 realistic user actions based on executed_steps.\nMust include: navigation, prerequisite actions, exact input conditions, final trigger.\nDo NOT mention: automation tools, locators, scripts, or object repository paths.\n\n---\n\n# ISSUE TITLE FORMAT\nPattern: \"[Subject] [action/state] [condition]\"\nExamples:\n- \"Save button remains clickable after validation error\"\n- \"Validation message not shown on empty required field\"\nDo NOT use vague titles or include test case IDs.\n\n---\n\n# EXECUTION TIME RULE\nMention execution time ONLY IF error contains \"timeout\" OR duration > 15000ms.\nOtherwise, ignore entirely.\n\n---\n\n# LABELS\nAlways include: Bug, Automation, + component label from feature field.\nExamples: Auth, Checkout, Search, ItemManagement, CategoryManagement\n\n---\n\n# OUTPUT FORMAT\n{\n  \"ticket_title\": {\n    \"feature\": \"String\",\n    \"sub_section\": \"String\",\n    \"issue_title\": \"String\"\n  },\n  \"description\": {\n    \"steps_to_reproduce\": [\"1. ...\", \"2. ...\", \"3. ...\"],\n    \"actual_result\": \"String\",\n    \"expected_result\": \"String\"\n  },\n  \"priority\": \"Highest | High | Medium | Low | Lowest\",\n  \"severity\": \"Critical | Major | Medium | Normal | Minor\",\n  \"labels\": [\"Bug\", \"Automation\", \"Component\"]\n}\n\nOutput JSON ONLY,  no markdown, no explanation outside JSON.\n\n---\n\n# EXAMPLE\nINPUT:\ntestCaseId    : Test Cases/TC-008 - Item_Verify Save Button State After Error\nstatus        : FAILED\nurl           : https://testbed.lithiaproject.site/dashboard\nmessage       : Unable to click on object 'Page_Add Item True/button_Simpan Barang'\nfailed_step   : click(findTestObject(\"Page_Add Item True/button_Simpan Barang\"))\nexecuted_steps:\n  [0] openBrowser(\"testbed.lithiaproject.site\")\n  [1] click(findTestObject(\"Page_Add Item True/button_Tambah Barang\"))\n  [2] setText(findTestObject(\"Page_Add Item True/input_Nama Barang\"), \"Sosis Kanzler Rasa Keju\")\n  [3] click(findTestObject(\"Page_Add Item True/button_Pilih kategori\"))\n  [4] click(findTestObject(\"Page_Add Item True/div_Dairy\"))\n  [5] setText(findTestObject(\"Page_Add Item True/input_Jumlah Stok\"), \"20\")\n  [6] setText(findTestObject(\"Page_Add Item True/input_Harga Beli\"), \"8000\")\n  [7] setText(findTestObject(\"Page_Add Item True/input_Harga Jual\"), \"10000\")\n\nOUTPUT:\n{\n  \"ticket_title\": {\n    \"feature\": \"Item Management\",\n    \"sub_section\": \"Add Item\",\n    \"issue_title\": \"Save button is not interactable after a validation error is triggered\"\n  },\n  \"description\": {\n    \"steps_to_reproduce\": [\n      \"1. Navigate to the Dashboard page.\",\n      \"2. Click the 'Tambah Barang' button to open the Add Item form.\",\n      \"3. Fill in all required fields: item name, category, stock quantity, purchase price, and selling price.\",\n      \"4. Submit the form in a state that triggers a validation error.\",\n      \"5. Observe the state of the 'Simpan Barang' (Save) button after the error appears.\"\n    ],\n    \"actual_result\": \"The 'Simpan Barang' button cannot be interacted with after a validation error is triggered.\",\n    \"expected_result\": \"The Save button should remain clearly clickable or explicitly disabled with a visual indicator, so the user can re-attempt submission after correcting the error.\"\n  },\n  \"priority\": \"Medium\",\n  \"severity\": \"Normal\",\n  \"labels\": [\"Bug\", \"Automation\", \"ItemManagement\"]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3920,
        1072
      ],
      "id": "18aed40c-586a-4887-830c-1128c08466cf",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0f815e1-382b-43b8-8cfc-51288b2fe069",
              "leftValue": "={{$json.id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2672,
        1072
      ],
      "id": "71d053d6-a4c1-4091-b8f4-122e5d3183c4",
      "name": "Check Duplicate"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.output; \n\nconst cleanOutput = rawOutput.replace(/^```json\\s*/i, \"\").replace(/^```\\s*/i, \"\").replace(/\\s*```$/, \"\");\n\nlet jsonData;\ntry {\n    jsonData = JSON.parse(cleanOutput);\n} catch (error) {\n    jsonData = { error: \"Gagal parsing JSON\", raw: cleanOutput };\n}\n\nreturn { json: jsonData };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3568,
        1072
      ],
      "id": "945134d1-db92-439d-9a1c-cd1f1c75efdf",
      "name": "Parse Output AI"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "jql": "=project = \"SCRUM\"\nAND issuetype = \"Bug\"\nAND status != Done"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -3120,
        1072
      ],
      "id": "d9f7e43e-74e7-4dd3-beed-3898da9c5d34",
      "name": "Get many issues",
      "alwaysOutputData": true,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "UasEiT4gcHnmco2t",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const targetFingerprint =\n  $('Generate Fingerprint').first().json.fingerprint;\n\nconst issues = $input.all();\n\n// Ganti customfield Error Fingerprint\nconst duplicates = issues.filter(item =>\n  item.json.fields?.customfield_10044 === targetFingerprint\n);\nreturn duplicates.map(item => ({\n  json: item.json\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2896,
        1072
      ],
      "id": "6621cce5-9e76-4f9b-b4d9-f48a7a41260b",
      "name": "Find Duplicate",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -3856,
        1296
      ],
      "id": "a035f0c2-e096-4b62-a5ef-1bc48a8d09c2",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "Project Satu"
        },
        "issueType": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "=[DUPLICATE] [{{ $('Parse Output AI').item.json.ticket_title.feature }}] {{ $('Parse Output AI').item.json.ticket_title.sub_section }} - {{ $('Parse Output AI').item.json.ticket_title.issue_title }}",
        "additionalFields": {
          "description": "=MASTER ISSUE : {{ $('Filter Duplicate').item.json.key }}\n\nURL Project: {{ $('Webhook Katalon').first().json.body.url }}\n\nSteps to Reproduce:\n{{ $('Parse Output AI').item.json.description.steps_to_reproduce.join('\\n') }}\n\nActual Result: {{ $('Parse Output AI').item.json.description.actual_result }}\n\nExpected Result: {{ $('Parse Output AI').item.json.description.expected_result }}",
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "customfield_10044",
                  "mode": "list",
                  "cachedResultName": "Error Fingerprint"
                },
                "fieldValue": "={{ $('Generate Fingerprint').first().json.fingerprint }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "customfield_10046",
                  "mode": "list",
                  "cachedResultName": "Severity"
                },
                "fieldValue": "={{ $json.severity }}"
              }
            ]
          },
          "labels": "={{ $('Parse Output AI').item.json.ticket_title.feature.toLowerCase().replace(/[^a-z0-9\\s-]/g,'').replace(/\\s+/g,'-').trim() }}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -2256,
        832
      ],
      "id": "eb0b048f-4a79-4b2e-91b5-23d192d3bce8",
      "name": "Create an issue (Duplicate)",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "UasEiT4gcHnmco2t",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [$input.first()];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2464,
        832
      ],
      "id": "928fb6b9-b27e-4eae-a418-2cb106806ce0",
      "name": "Filter Duplicate"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "Project Satu"
        },
        "issueType": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "=[{{ $('Parse Output AI').item.json.ticket_title.feature }}] {{ $('Parse Output AI').item.json.ticket_title.sub_section }} - {{ $('Parse Output AI').item.json.ticket_title.issue_title }}",
        "additionalFields": {
          "description": "=URL Project: {{ $('Webhook Katalon').first().json.body.url }}\n\nSteps to Reproduce:\n{{ $('Parse Output AI').item.json.description.steps_to_reproduce.join('\\n') }}\n\nActual Result: {{ $('Parse Output AI').item.json.description.actual_result }}\n\nExpected Result: {{ $('Parse Output AI').item.json.description.expected_result }}",
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "customfield_10044",
                  "mode": "list",
                  "cachedResultName": "Error Fingerprint"
                },
                "fieldValue": "={{ $('Generate Fingerprint').first().json.fingerprint }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "customfield_10046",
                  "mode": "list",
                  "cachedResultName": "Severity"
                },
                "fieldValue": "={{ $json.severity }}"
              }
            ]
          },
          "labels": "={{ $('Parse Output AI').item.json.ticket_title.feature.toLowerCase().replace(/[^a-z0-9\\s-]/g,'').replace(/\\s+/g,'-').trim() }}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -2256,
        1088
      ],
      "id": "6f69e36d-cdce-47da-89c5-8149f8f55517",
      "name": "Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "UasEiT4gcHnmco2t",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "content": "## **Get Many Issues**\n\n**Ganti variabel project dengan Key FIelds di Jira**",
        "height": 192,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3152,
        816
      ],
      "id": "627ac488-ff1d-4ad1-af0f-3b3e7b4203a5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## **Find Duplicate**\n\n**Ganti customfield Error Fingerprint dan sesuaikan dengan jira**",
        "height": 192,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2928,
        816
      ],
      "id": "e11bf87a-e42b-4e86-bf94-37912e3defd0",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Webhook Katalon": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Screenshot Issue": {
      "main": [
        [
          {
            "node": "Add Attachment/Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Priority": {
      "main": [
        [
          {
            "node": "Add Priority (Highest)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Priority (High)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Priority (Medium)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Priority (Low)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Priority (Lowest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Priority (Highest)": {
      "main": [
        []
      ]
    },
    "Add Priority (High)": {
      "main": [
        []
      ]
    },
    "Add Priority (Medium)": {
      "main": [
        []
      ]
    },
    "Add Priority (Low)": {
      "main": [
        []
      ]
    },
    "Add Priority (Lowest)": {
      "main": [
        []
      ]
    },
    "Add Attachment/Evidence": {
      "main": [
        [
          {
            "node": "Switch Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Fingerprint": {
      "main": [
        [
          {
            "node": "Get many issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Output AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Filter Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output AI": {
      "main": [
        [
          {
            "node": "Generate Fingerprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many issues": {
      "main": [
        [
          {
            "node": "Find Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Duplicate": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue (Duplicate)": {
      "main": [
        [
          {
            "node": "Screenshot Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicate": {
      "main": [
        [
          {
            "node": "Create an issue (Duplicate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Screenshot Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "db51300d-67cf-4cb1-871c-641244fa1996",
  "activeVersionId": null,
  "versionCounter": 193,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-15T13:54:03.676Z",
      "createdAt": "2026-07-15T13:54:03.676Z",
      "role": "workflow:owner",
      "workflowId": "wgM37DWW3USYWiid",
      "projectId": "5F4opZAWBPLJuAIE",
      "project": {
        "updatedAt": "2026-07-15T13:52:12.202Z",
        "createdAt": "2026-07-13T15:57:14.477Z",
        "id": "5F4opZAWBPLJuAIE",
        "name": "Indra Wan <indraw910@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "9677fa9d-97dc-4974-9b44-492b785ca9e1"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}